.filter-accordion {
  &__header {
    font-size: 1rem;
    font-weight: bold;
    color: #5a728b;
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #d3dbe3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
    overflow: hidden;
    position: relative;
  }

  &__reset-button {
    position: relative;
    margin-left: 2px;
    top: 2px;
  }

  &__content {
    padding: 10px;
    animation: slide-in 0.6s ease-in-out;
    transition: max-height 0.6s ease-in-out, opacity 0.6s ease-in-out;

    @keyframes slide-in {
      0% {
        transform: translateY(-20px);
        opacity: 0;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
}
